In [40]:
#no 1
import pandas as pd

df_excel = pd.read_excel('tugas.xlsx', sheet_name='data')

df_excel.to_csv('nomer1.csv', index=False)  
df_excel.to_excel('nomer1.xlsx', index=False)

In [90]:
#no2
import pandas as pd

df_excel = pd.read_excel('tugas.xlsx', sheet_name='data')

tahun_tertentu = 2015
jumlah_sampah = 0


for i, j in df_excel.iterrows():
    if j["tahun"] == tahun_tertentu:  
        jumlah_sampah += j["jumlah_produksi_sampah"]  

df_hasil = pd.DataFrame({
    'Tahun': [tahun_tertentu],
    'Total Produksi Sampah (Ton)': [jumlah_sampah]
})

df_hasil.to_csv('nomer2.csv', index=False)
df_hasil.to_excel('nomer2.xlsx', index=False)


print(f"Total produksi sampah di seluruh Kabupaten/Kota di Jawa Barat untuk tahun {tahun_tertentu}: {jumlah_sampah:.2f} ton")

Total produksi sampah di seluruh Kabupaten/Kota di Jawa Barat untuk tahun 2015: 20969.27 ton

In [92]:
# no3
import pandas as pd

df_excel = pd.read_excel('tugas.xlsx', sheet_name='data')

total_per_tahun = {}

for _, row in df_excel.iterrows():
    tahun = row["tahun"]
    produksi_sampah = row["jumlah_produksi_sampah"]
    
    if tahun in total_per_tahun:
        total_per_tahun[tahun] += produksi_sampah
    else:
        total_per_tahun[tahun] = produksi_sampah

df_total_per_tahun = pd.DataFrame(list(total_per_tahun.items()), columns=["Tahun", "Total Produksi Sampah (Ton)"])

print("Total produksi sampah per tahun:")
print(df_total_per_tahun)

df_total_per_tahun.to_csv('nomer3.csv', index=False)
df_total_per_tahun.to_excel('nomer3.xlsx', index=False)

Total produksi sampah per tahun:
   Tahun  Total Produksi Sampah (Ton)
0   2015                     20969.27
1   2016                     20969.27
2   2017                     20969.27
3   2018                     22772.92
4   2019                     24490.56
5   2020                     25333.00
6   2021                     15735.36
7   2022                          NaN
8   2023                          NaN

In [94]:
#no 4
import pandas as pd
df_excel = pd.read_excel('tugas.xlsx', sheet_name='data')

total_per_kota_tahun = {}

for _, row in df_excel.iterrows():
    tahun = row["tahun"]
    kota = row["nama_kabupaten_kota"]
    produksi_sampah = row["jumlah_produksi_sampah"]
    
    key = (tahun, kota)
    
    if key in total_per_kota_tahun:
        total_per_kota_tahun[key] += produksi_sampah
    else:
        total_per_kota_tahun[key] = produksi_sampah

df_total_per_kota_tahun = pd.DataFrame(
    list(total_per_kota_tahun.items()),
    columns=["(Tahun, Kota/Kabupaten)", "Total Produksi Sampah (Ton)"]
)

df_total_per_kota_tahun[["Tahun", "Kota/Kabupaten"]] = pd.DataFrame(df_total_per_kota_tahun["(Tahun, Kota/Kabupaten)"].tolist(), index=df_total_per_kota_tahun.index)
df_total_per_kota_tahun = df_total_per_kota_tahun.drop(columns=["(Tahun, Kota/Kabupaten)"])

df_total_per_kota_tahun.to_csv('no4.csv', index=False)
df_total_per_kota_tahun.to_excel('no4.xlsx', index=False)

print("Total produksi sampah per Kota/Kabupaten per Tahun:")
print(df_total_per_kota_tahun)

Total produksi sampah per Kota/Kabupaten per Tahun:
     Total Produksi Sampah (Ton)  Tahun      Kota/Kabupaten
0                        1511.15   2015     KABUPATEN BOGOR
1                         419.01   2015  KABUPATEN SUKABUMI
2                         981.41   2015   KABUPATEN CIANJUR
3                        1895.94   2015   KABUPATEN BANDUNG
4                         464.74   2015     KABUPATEN GARUT
..                           ...    ...                 ...
238                          NaN   2023         KOTA BEKASI
239                          NaN   2023          KOTA DEPOK
240                          NaN   2023         KOTA CIMAHI
241                          NaN   2023    KOTA TASIKMALAYA
242                          NaN   2023         KOTA BANJAR

[243 rows x 3 columns]